body{
  background-image: url(image/.);
  background: linear-gradient(rgb(85, 85, 90),rgb(140, 143, 143));
}
h1{
  width: 90%;
  text-align:center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 7vw;
  font-family: "roboto", Arial;
  font-weight: 700;

  border-radius: 20px 60px 20px 60px;
  background: linear-gradient(to right,rgb(253, 101, 0), rgb(253, 135, 0), rgb(255, 153, 0));
  color: #3c62fc;
  /*background-image: linear-gradient(to left top ,orange,blue) ;*/
  text-shadow: gold 3px 3px ;

}

h2{
  width: 50%;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 3vw;
  font-family: "roboto", Arial;
  font-weight: 500;
  color: orange;
}


iframe{
  width: 40%;
  border-radius: 15px;
  border-color: orange;
  margin-left: 5%;
  margin-right:5%;

}
.doubleContainer{
  display: flex;
}
#logoPrisep{
  float: left;
  padding-left: 0px;
  width:13vw;
}
