h1{
  text-align: center;
  width: 100%
  font-size: 20vw;
}
form{
  margin-left: 40%;
}
input,button{
  padding:20px;
}
button{
  font-size: 2em;
}
body{
  background: linear-gradient(#686f77,white);
}
