body{
  background: linear-gradient(#686f77,white);
  background-repeat:no-repeat;
}
h1{
  width: 50%;
  margin:10%;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left:25%;
  text-align:center;
  font-size: 2.5vw;
  font-family: 'Segoe UI';
  border-radius: 20px 60px 20px 60px;
  background: linear-gradient(#686f77,white);
  color: #606164;
  /*background-image: linear-gradient(to left top ,orange,blue) ;*/
  padding:15px;
}

.divMultiprise{
  width: 30%;
  margin: 1%;
  margin-top:10px;
  border: 3px solid #3e4866;
  border-radius: 30px;
  background-color: white;
  padding: 0px; /* pour les background coloré*/
  overflow: hidden;
  display: inline-block;

}
.nomMultiprise{
  width: 100%;
  padding: 15px;
  margin-top:0px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 2.5em;
  background: linear-gradient(to right,#406ca5,#1764c6,black);
  color: black;
  border-bottom: 3px solid #3e4866;
}
.divIcones{
  border-bottom: 3px solid #3e4866;
  display: flex;
  flex-wrap: wrap;
}

.divIcones *{
  width: 80px;
  height: 80px;
  padding: 5px;
  margin: 5px;
  border: 3px solid #3e4866;
  border-radius: 10px;
  align-content: center;
  margin-left: 15px;
  margin: auto;
  margin-top:3px;
  margin-bottom:3px;
}
.divIcones button {
  width: 96px;
  height: 96px;
}
.divIcones button img{
  border: none;
  padding: 0px;
  margin: 0px;
}
button{
  background: none;
  border:none;
}

.divPlug {
  width: 25%;
  text-align: center;
  height: auto;
  margin: auto;
}
.divPlug img {
  width: 100%;
  height: 100%;
}


#divAjoutMultiprise{
  width: 80%;
  margin: 10%;
  margin-top:10px;
  margin-bottom:10px;
  border: 3px solid #3e4866;
  background-color: white;
  border-radius: 20px;
  font-size: 2vw;
}
#divAjoutMultiprise img{
  float:left;
  width: 15%;
}

@media screen and (max-width: 1100px) {
  .divMultiprise{
    width: 96%;
    margin: 2%;
  }
}