
body{
  background: linear-gradient(#686f77,white);
}

h1{
  width: 90%;
  margin:5%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align:center;
  font-size: 6vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
  border-radius: 20px 60px 20px 60px;
  background: linear-gradient(to right,#406ca5,#1764c6);
  color: #787b84;
  /*background-image: linear-gradient(to left top ,orange,blue) ;*/
  text-shadow: white 2px 2px ;
  padding:15px;
}

.divFlexDisplay{
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

.divMaison {
width: 80%;
margin: 10%;
margin-top:10px;
margin-bottom:10px;
height: 400px;
border: 3px solid #3e4866;
background-color: white;
border-radius: 30px;
padding: 0px; /* pour les background coloré*/
overflow: hidden;
}

.divMaison h2 {
  text-align: center;
  font-size: 4em;
  color:#787b84;
  background-color: #1764c6;
  text-shadow: black 2px 1px ;
  padding-top:10px;
  padding-bottom:5px;
  margin-top:0px;
  margin-bottom:0px;
}
.divMaison p {
  text-align: center;
  font-size: 1em;
  background-color: #1764c6;
  margin:0px;
  padding-bottom: 5px;
  border-bottom: 3px solid #3e4866;
}
#divAjoutMaison{
  width: 80%;
  margin: 10%;
  margin-top:10px;
  margin-bottom:10px;
  border: 3px solid #3e4866;
  background-color: white;
  border-radius: 30px;
  font-size: 2vw;
}



@media screen and (min-width: 1200px) {
  .divMaison {
    width: 40%;
    padding:0%;
    margin: 4%;
    }
}
