

* {
font-family: Trebuchet MS;
}

body{
  background: linear-gradient(#686f77,white);
}

.AjouterMaison{
  width: 40%;
  margin:5%;
  padding:3%;
  margin-left: 350px;
  padding-top:0px;
  border: solid #3e4866;
  border-radius: 3vw ;
  background-color: white;
  color: #3e4866;

}

label {
    font-size: 4em;
    padding: 4px;
    display: block;
    font: 4rem 'Trebuchet MS', sans-serif; color: black; font-weight: bold;
}

