body{
  background-image: url(image/.);
  background: linear-gradient(#686f77,white);
}
h1{
  width: 90%;
  text-align:center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 7vw;
  font-family: "roboto", Arial;
  font-weight: 700;

  border-radius: 20px 60px 20px 60px;
  background: linear-gradient(to right,#406ca5,#1764c6);
  color: #787b84;
  /*background-image: linear-gradient(to left top ,orange,blue) ;*/
  text-shadow: white 2px 2px ;

}

h2{
  text-align: center;
  padding-bottom: 0px;
  font-size: 3vw;
  font-family: "roboto", Arial;
  font-weight: 500;
  color: #3e4866;
}


iframe{
  width: 40%;
  border-radius: 15px;
  border-color: #3e4866;
  margin-left: 5%;
  margin-right:5%;

}

#logoPrisep{
  float: left;
  padding-left: 0px;
  width:13vw;
}
#divOfConnectionAndRegistration{
  display:flex;
  flex-direction: row;
}
.divOfConnectionMode{
  width: 40%;
  margin:2%;
  padding:3%;
  padding-top:0px;
  border: solid #3e4866;
  border-radius: 3vw ;
  background-color: white;
}
form{
  display: flex;
  flex-direction: column;
  margin: 1px;
}
label{
  font-size: 1.2em;
}
input{
  padding: 4px 10px;
  margin: 3px ;
  box-sizing: border-box;
  font-size: 1.2em;
  border:none;
  border-bottom: 2px dotted grey;
}
input[type=submit]{
    border-bottom: 2px solid grey;
}
input:focus {
  border: 2px solid #555;
}
input[type=Date]{
  padding: 4px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 1.5em;
  border:none;
}

@media screen and (max-width: 700px) {
  #divOfConnectionAndRegistration{
  display: flex;
  flex-direction: column;
  }
  .divOfConnectionMode{
    width: 90%;
  }
  button{
    width: 100%;
  }
}

