body{
  background-image: url(image/.);
  background: linear-gradient(#686f77,white);
}
#divAlert{
  display: flex;
  margin-left: 20%;
  width: 60%;
  border: solid #3e4866;
  border-radius: 15px;
  background-color: white;

}
#divAlert div{
  width: 50%;
  border: solid #25fc11;
  border-radius: 20px;
  margin: 5px;
}
#divAlert div h3{
  font-size:3vw;
  text-align: center;
  color:#3e4866;
  margin:2px;
  padding: 1px;
}
#divAlert iframe{
  margin: 5px;
  width: 95%;
}

h2{
  text-align: center;
  font-size: 2em;
  width: 100%;

}
