* {
    font-family: Trebuchet MS;
    }

.Deroulement {
    float: right;
    overflow: hidden;
}

.BtnAjoutMultiprise {
    font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 16px 35px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
  overflow: hidden;
}

.listemaison input,
select {
    width: 50%;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 25px;
}