}
form{
  margin-left: 40%;
}
input,button{
  border: 1px solid grey;
  border-radius: 3px;
  padding:10px;
  transition: all 0.5s ease;
}


input{
  color: black;
}

p{
  text-align: center;
  font-size: 2vw;
}
footer{
  text-align: center;
  font-size: 2vm;
}


body{
  background: linear-gradient(#686f77,white);
  background-repeat: no-repeat;
}

button{
  font-size: 0,5em;
  background-color: grey;
  border-radius: 3px;
}