body{
  background: linear-gradient(#686f77,white);
  background-repeat:no-repeat;
}
h1{
  width: 40%;
  margin-top: 1vw;
  margin-bottom: 0px;
  margin-left:  30%;
  font-size: 2vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
  border: 0.15vw solid #3e4866;
  border-radius: 60px 140px 60px 140px;
  background: linear-gradient(#686f77,white);
  color: #606164;
  /*background-image: linear-gradient(to left top ,orange,blue) ;*/
  padding:5px;
  text-align: center;
}

h2 {
text-decoration: underline;
text-align: center;
}

.divTicket {

  width: 25%;
  margin:1%;
  padding:1%;
  margin-left: 550px;
  padding-top:0px;
  border: solid #3e4866;
  border-radius: 3vw ;
  background-color: white;
  color: #3e4866;
  text-align: center;

}

